.title{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #333;
}
.title:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: #4285f4;
    transform: scale(0);
    transition: all 0.3s;
}
.title:hover:before{
    transform: scale(1);
}